footer {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #292b2c;
}

.linkedin-icon {
    color: black;
    margin-right: 2px;
}

.github-icon {
    color: black;
    margin-left: 2px;
}