.index {
    position: relative;
    text-align: center;
    color: #faf3dd;
    background-image: url("./../images/background-index.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    text-shadow: 5px 5px 5px black;
}

.subtittle {
    font-style: italic;
    text-shadow: 5px 5px 5px black;
}